@charset "utf-8";
@import 'fonts.css';





body{
    /* 网站默认正文字体 */
    font-family: "Microsoft YaHei", 宋体, sans-serif;
    /*font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;*/
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;*/
    /*font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;*/

    /* 网站默认字体颜色 */
    color: #414141;

    /* 网站默认背景颜色 */
    background-color: #fefefe;
}


/* bootstrap中的h1~h6设置了不同的上下外边距 */
/* 重写h1~h6的上下外边距，其他属性可以保持不变 */
/* margin-top:20px; margin-bottom:10px */
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* h4~h6保持不变 */
.h4,.h5,.h6,h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}






/*
 *
 * archive page
 *
 */

/* ---------------------------------------------------------------------------------------------------- */
/* profile style */
/* ---------------------------------------------------------------------------------------------------- */

.blockquote-font {
    position: relative;
    text-align: center;
    line-height: 1.6em;
    color: #414141;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 100%;
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    font-family: SIGNATURE_EN, SIGNATURE_ZH_CH, Helvetica, sans-serif;
    font-size: 22px;
}

.blockquote-font:before {
    content: '“';
    font-size: 6rem;
    position: absolute;
    top: 0.2em;
    left: -.5em;
    /*top: .01em;*/
    /*left: -.5em;*/
    color: #ddd;
    font-family: SimHei, sans-serif;
}

.blockquote-font:after {
    content: '”';
    font-size: 6rem;
    position: absolute;
    bottom: -.4em;
    right: -.5em;
    /*bottom: -.5em;*/
    /*right: -.4em;*/
    color: #ddd;
    font-family:SimHei, sans-serif;
}

/* blockquote-font style */
@media screen and (max-width: 1199px) {
    .blockquote-font {
        visibility: hidden;
    }
}

/*
 * section-profile
 */
/* Hide for mobile */
/* 这里测试发现要比md 992px 少一个像素，不然会出现section-profile已经隐藏但col-md-offset-3样式依旧存在*/
/* max-width包含值，是小于等于执行，min-width不包含值，是大于执行 */

.section-profile {
    position: fixed;
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/

    top: 0;
    height: 100%;
    left: 0;

    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-size: cover;
    border-right: 1px solid #eee;
}

@media screen and (max-width: 991px) {
    .section-profile {
        /*display: none;*/
        visibility: hidden;
    }
}


/* 全尺寸样式放在前面，不然媒体查询样式会失效，因为这里有同名属性样式会进行覆盖，所以样式顺序至关重要！ */
.section-profile .logo-image {
    padding-top: 60px;
}

@media screen and (max-width: 1199px) {
    .section-profile .logo-image {
        padding-top: 150px;
    }
}

.section-profile .logo-image img {
    width: 135px;
    height: 135px;
}


.section-profile .socal-links {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*margin-top: 50px;*/
    margin-bottom: 50px;

    /* 调整社交图标大小 */
    font-size: 14px;
}

.section-profile .socal-links ul{
    list-style: none;
    padding: 0;
}

.section-profile .socal-links li {
    display: inline;
    padding: 0 5px;
}

.section-profile .socal-links a {
    /* color: #6A1B9A */
    /* blueviolet color: #8a2be2 */
    color: #500095;
    text-decoration: none;

}
.section-profile .socal-links a:hover {
    opacity: .7;

}

.section-profile .profile-nickname {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;

    /* h4 default font-size is 18px */
    font-size: 18px;

    /* 默认为YaHei字体 */
    /*font-family: DIN, Helvetica， sans-serif;*/
}

/*---------------------------------------------------------------------*/
/* 这里涉及页面高度适配问题 */
/* 一般而言，媒体查询是页面适配的优秀解决方案。除此之外，也可以使用em/rem单位来解决此问题 */
/* 但一般的页面适配问题都是指页面宽度不同的适配，由于页面可以上下滚动，所以很少涉及页面高度的适配 */
/* 但index页面因为左侧的profile区设置position:fixed;height:100%，因而需要考虑profile区的高度适配 */
/* 这里仅需要对左侧区和页面footer区高度适配，因此采用媒体查询方案 */
/*---------------------------------------------------------------------*/

/* 页面高度适配 */
@media screen and (max-height: 900px) {
    .blockquote-font {
        position: relative;
        text-align: center;
        line-height: 1.5em;
        color: #414141;
        padding-left: 45px;
        padding-right: 45px;
        padding-top: 45px;
        padding-bottom: 45px;
        width: 100%;
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        font-family: SIGNATURE_EN, SIGNATURE_ZH_CH, Helvetica, sans-serif;
        font-size: 20px;
    }

    .blockquote-font:before {
        content: '“';
        font-size: 5rem;
        position: absolute;
        top: 0.2em;
        left: -.5em;
        /*top: .01em;*/
        /*left: -.5em;*/
        color: #ddd;
        font-family: SimHei, sans-serif;
    }

    .blockquote-font:after {
        content: '”';
        font-size: 5rem;
        position: absolute;
        bottom: -.4em;
        right: -.5em;
        /*bottom: -.5em;*/
        /*right: -.4em;*/
        color: #ddd;
        font-family:SimHei, sans-serif;
    }


    .section-profile .logo-image {
        padding-top: 50px;
    }

    .section-profile .logo-image img {
        width: 120px;
        height: 120px;
    }

    .section-profile .socal-links {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        /*margin-top: 50px;*/
        margin-bottom: 20px;

        /* 调整社交图标大小 */
        font-size: 12px;

    }
    .section-profile .profile-nickname {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 25px;

        /* h4 default font-size is 18px */
        font-size: 16px;

        /* 默认为YaHei字体 */
        /*font-family: DIN, Helvetica， sans-serif;*/
    }

}

@media screen and (max-height: 760px) {
    .blockquote-font {
        position: relative;
        text-align: center;
        line-height: 1.4em;
        color: #414141;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 35px;
        padding-bottom: 35px;
        width: 100%;
        /*overflow: hidden;*/
        /*white-space: nowrap;*/
        /*text-overflow: ellipsis;*/
        font-family: SIGNATURE_EN, SIGNATURE_ZH_CH, Helvetica, sans-serif;
        font-size: 18px;
    }

    .blockquote-font:before {
        content: '“';
        font-size: 4rem;
        position: absolute;
        top: 0.2em;
        left: -.5em;
        /*top: .01em;*/
        /*left: -.5em;*/
        color: #ddd;
        font-family: SimHei, sans-serif;
    }

    .blockquote-font:after {
        content: '”';
        font-size: 4rem;
        position: absolute;
        bottom: -.4em;
        right: -.5em;
        /*bottom: -.5em;*/
        /*right: -.4em;*/
        color: #ddd;
        font-family:SimHei, sans-serif;
    }


    .section-profile .logo-image {
        padding-top: 30px;
    }

    .section-profile .logo-image img {
        width: 95px;
        height: 95px;
    }

    .section-profile .socal-links {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        /*margin-top: 50px;*/
        margin-bottom: 15px;

        /* 调整社交图标大小 */
        font-size: 11px;

    }
    .section-profile .profile-nickname {
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;

        /* h4 default font-size is 18px */
        font-size: 13px;

        /* 默认为YaHei字体 */
        /*font-family: DIN, Helvetica， sans-serif;*/
    }

}

@media screen and (max-height: 630px) {
    .blockquote-font {
        visibility: hidden;
    }

    .section-profile .logo-image {
        padding-top: 150px;
    }


    .section-profile .logo-image img {
        width: 140px;
        height: 140px;
    }

    .section-profile .profile-nickname {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;

        /* h4 default font-size is 18px */
        font-size: 18px;

        /* 默认为YaHei字体 */
        /*font-family: DIN, Helvetica， sans-serif;*/
    }
    .section-profile .socal-links {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        /*margin-top: 50px;*/
        margin-bottom: 20px;

        /* 调整社交图标大小 */
        font-size: 12px;

    }


}

@media screen and (max-height: 600px) {
    .section-profile .socal-links {
        visibility: hidden;

    }
}



/* ---------------------------------------------------------------------------------------------------- */
/* navbar style */
/* ---------------------------------------------------------------------------------------------------- */
.section-posts {
    height: auto;
    padding-left: 0;
    padding-right: 0;

    /* 导航条的默认高度为50px */
    padding-top: 61px;
}

.section-posts nav.navbar {

    /* 修改导航条的高度，导航条默认高度为50px */
    /* 此处高度修改为64px，加上1px的border-bottom */
    /* 考虑到current样式高度，因此不在这里设置导航条高度 */
    /*padding-top: 7px;*/
    /*padding-bottom: 7px;*/

    /* 这里要设置导航条的背景色，不然有可能是透明的（无navbar-default类样式） */
    background-color: #fefefe;
    border-bottom: 1px solid #eee;

}

.section-posts .navbar {
    /* 默认的navbar类有margin-bottom: 20px */
    /* 重写navbar的底部外边距，其他属性可以保持不变 */
    margin-bottom: 0;
}


/* 响应式布局样式 */
.section-posts .navbar-toggle .icon-bar {
    background-color: #500095;
}

.section-posts .navbar-header .navbar-toggle {
    /*border-color: #fefefe;*/
    /*border: 1px solid #fefefe;*/
    border-color: #fefefe;
}


.section-posts .navbar-header .navbar-toggle:hover, .section-posts .navbar-header .navbar-toggle:focus {
    background-color: #f9f5ff;
    /*border-color: #f9f5ff;*/
    /*border: 1px solid #eee;*/

    border-color: #eee;
}

.section-posts .navbar-header a.navbar-brand {
    display: none;
}


.nav>li>a{
    color: #414141;

    /* 重写padding 15px宽度 */
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/

    padding-top: 20px;
    padding-bottom: 16px;
}

.nav>li>a:focus, .nav>li>a:hover {
    color: #500095;
    border-bottom: 4px solid #500095;
    background-color: #f9f5ff;
}

.nav>li>a.current {
    color: #500095;
    border-bottom: 4px solid #500095;
    background-color: #f9f5ff;
}

.navbar-collapse>.navbar-form {
    /* 重写导航表单的上下内补，精致计算以使整个表单垂直居中 */
    padding-top: 5px;
    padding-bottom: 5px;
}

/* 重写响应式导航条样式 */
@media screen and (max-width: 767px) {
    .nav>li>a{
        color: #414141;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .nav>li>a:focus, .nav>li>a:hover {
        color: #500095;
        background-color: #f9f5ff;
        border-bottom: 0;
    }

    .nav>li>a.current {
        color: #500095;
        background-color: #f9f5ff;

        /* 重写导航选项border-bottom样式，一定要重写border-bottom进行覆盖，不然还是4pxborder-bottom */
        border-bottom: 0;
    }

    .navbar-collapse>.navbar-form {
        /*border-top: 1px solid #eee;*/
        border-bottom: 1px solid #eee;
        padding-top: 10px;
        padding-bottom: 12px;

        /* 只对响应式导航条form重写margin top bottom 8px样式 */
        margin-top: 0;
        margin-bottom: 0;

    }

    .navbar-collapse>.navbar-nav {
        /* 只对响应式导航条ul重写margin top bottom 7.5px样式 */
        margin-top: 0;
        margin-bottom: 0;
    }

    .section-posts .navbar-header a.navbar-brand {
        display: block;
        /* 使得响应式导航条中nickname左宽与菜单icon右宽26px一致 */
        margin-left: 11px;
        margin-right: 11px;

        text-decoration: none;
        color: #500095;
    }

    .section-posts .navbar-header a.navbar-brand:hover {
        opacity: .7;
    }
}




/* ---------------------------------------------------------------------------------------------------- */
/* about style */
/* ---------------------------------------------------------------------------------------------------- */
img.img_label_left {
    float: left;
    /*width: 149px;*/
    max-width: 100%;
}

.blog-about {
    margin-top: 115px;
    margin-left: 170px;
    margin-right: 170px;
    padding-left: 25px;
    padding-right: 25px;

}
.blog-about .blog-poetry {
    display: inline-block;
    vertical-align: top;
    float: left;
    font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
    font-weight: bold;
    max-width: 456px;
    word-wrap: break-word
}

.blog-about .blog-poetry p {
    /*common p font-size is 16px*/
    font-size: 19px;
}


/*.blog-about .blog-poetry p {*/
    /*max-width: 456px;*/
/*}*/

.blog-about .blog-poetry .poetry-detailname {
    font-style: italic;
    font-weight:bold;
    font-size: 20px;
    text-align: right;
    padding-top: 55px;
}

.blog-about .blog-poetry .poetry-detailauthor {
    font-style: italic;
    font-weight:bold;
    font-size: 20px;
    text-align: right;
    /*padding-top: 15px;*/
}

.blog-about .blog-intro {
    display: inline-block;
    vertical-align: top;
    float: right;

}

.blog-about .blog-intro .intro-pic {
}
.blog-about .blog-intro .intro-pic img {
    /*max-width: 300px;*/
    width: 300px;
    margin-bottom: 35px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

.blog-about .blog-intro .intro-detail {
    max-width: 300px;
}

.blog-about .blog-intro .intro-detail .intro-detail-item {
    padding-top: 20px;
    padding-bottom: 10px;

}

.blog-about .blog-intro .intro-detail .intro-detail-item h4 {
    border-left: 5px solid #500095;
    padding-left: 7px;
    color: #500095;
    opacity: .9;
    font-size: 18px;
    line-height: 1.1;
    /*padding-bottom: 1px;*/
}

.blog-about .blog-intro .intro-detail .intro-detail-item span {
    color: #747474;
    font-size: 14px;
}


.blog-about a {
    text-decoration: none;
    color: #500095;
}
.blog-about a:hover {
    opacity: .7;
}


@media screen and (max-width: 1759px) {
    img.img_label_left {
        float: left;
        width: 139px;
        /*max-width: 100%;*/
    }

    .blog-about {
        margin-top: 115px;
        margin-left: 150px;
        margin-right: 150px;
        padding-left: 15px;
        padding-right: 15px;

    }

}

@media screen and (max-width: 1659px) {
    img.img_label_left {
        float: left;
        width: 129px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 130px;
        margin-right: 130px;
        padding-left: 5px;
        padding-right: 5px;

    }

}

@media screen and (max-width: 1599px) {
    img.img_label_left {
        float: left;
        width: 119px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 110px;
        margin-right: 110px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

}

@media screen and (max-width: 1459px) {

    img.img_label_left {
        float: left;
        width: 114px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 90px;
        margin-right: 90px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }
}

@media screen and (max-width: 1359px) {
    img.img_label_left {
        float: left;
        width: 109px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 70px;
        margin-right: 70px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    /*同时改变字体大小*/
    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 18px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 432px;
    }

    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 19px;
        text-align: right;
        padding-top: 50px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 19px;
        text-align: right;
        /*padding-top: 15px;*/
    }



    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 290px;
        margin-bottom: 35px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 290px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 20px;
        padding-bottom: 10px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        /*font-size: 18px;*/
        /*line-height: 1.1;*/
        /*padding-bottom: 1px;*/
    }


    /*.blog-about .blog-intro .intro-detail .intro-detail-item span {*/
        /*font-size: 14px;*/
    /*}*/

}


@media screen and (max-width: 1259px) {
    img.img_label_left {
        float: left;
        width: 109px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 55px;
        margin-right: 55px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }
}




@media screen and (max-width: 1199px) {
    img.img_label_left {
        float: left;
        width: 109px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 50px;
        margin-right: 50px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    /*第二次改变字体大小*/
    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 16px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 384px;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 17px;
        text-align: right;
        padding-top: 45px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 17px;
        text-align: right;
        /*padding-top: 15px;*/
    }


    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 270px;
        margin-bottom: 30px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 270px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 15px;
        padding-bottom: 10px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 17px;
        line-height: 1.0;
        padding-bottom: 1px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 13px;
    }

}

/*@media screen and (max-width: 1129px) {*/

/*}*/
@media screen and (max-width: 1119px) {
    img.img_label_left {
        float: left;
        width: 104px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 40px;
        margin-right: 40px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    /*第三次改变字体大小*/
    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 15px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 360px;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;
        padding-top: 40px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;
        /*padding-top: 15px;*/
    }


    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 260px;
        margin-bottom: 25px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 260px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 10px;
        padding-bottom: 5px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 16px;
        line-height: 1.0;
        padding-bottom: 1px;
    }
    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 12px;
    }
}


@media screen and (max-width: 1029px) {
    img.img_label_left {
        float: left;
        width: 100px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 35px;
        margin-right: 35px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    /*第四次改变字体大小*/
    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 14px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 336px;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 15px;
        text-align: right;
        padding-top: 35px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 15px;
        text-align: right;
        /*padding-top: 15px;*/
    }


    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 250px;
        margin-bottom: 20px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 250px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 10px;
        padding-bottom: 5px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 15px;
        line-height: 1.0;
        padding-bottom: 1px;
    }
    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 11px;
    }
}






@media screen and (max-width: 991px) {
    img.img_label_left {
        float: left;
        width: 109px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 70px;
        margin-right: 70px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 17px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 408px;
    }

    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 18px;
        text-align: right;
        padding-top: 50px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 18px;
        text-align: right;
        /*padding-top: 15px;*/
    }



    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 280px;
        margin-bottom: 40px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 280px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 15px;
        padding-bottom: 10px;

    }


    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 17px;
        line-height: 1.1;
        padding-bottom: 1px;
    }


    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 13px;
    }


}



@media screen and (max-width: 929px) {
    img.img_label_left {
        float: left;
        width: 104px;
        /*max-width: 100%;*/
    }
    .blog-about {
        margin-top: 115px;
        margin-left: 50px;
        margin-right: 50px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 16px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 384px;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 17px;
        text-align: right;
        padding-top: 45px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 17px;
        text-align: right;
        /*padding-top: 15px;*/
    }


    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 270px;
        margin-bottom: 30px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 270px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 15px;
        padding-bottom: 10px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 17px;
        line-height: 1.0;
        padding-bottom: 1px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 13px;
    }
}

@media screen and (max-width: 829px) {
    img.img_label_left {
        float: left;
        /*width: 99px;*/
        width: 104px;
        /*max-width: 100%;*/
    }

    .blog-about {
        margin-top: 115px;
        margin-left: 45px;
        margin-right: 45px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }

    .blog-about .blog-poetry {
        display: inline-block;
        vertical-align: top;
        float: left;
        font-size: 15px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        max-width: 360px;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;
        padding-top: 40px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;
        /*padding-top: 15px;*/
    }


    .blog-about .blog-intro .intro-pic img {
        /*max-width: 300px;*/
        width: 260px;
        margin-bottom: 30px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 260px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 10px;
        padding-bottom: 5px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 16px;
        line-height: 1.0;
        padding-bottom: 1px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 12px;
    }
}





/*手机屏幕显示*/
@media screen and (max-width: 767px) {
    img.img_label_left {
        float: left;
        width: 129px;
        margin-top: -10px;
    }


    .blog-about {
        margin-top: 115px;
        margin-left: 45px;
        margin-right: 45px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }


    .blog-about .blog-poetry {
        display: block;
        clear: both;
        float: none;
        font-size: 18px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        /*max-width: 456px;*/
        max-width: 77%;
        /*width:auto;*/
        margin-left: auto;
        margin-right: auto;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 19px;
        text-align: right;
        padding-top: 55px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 19px;
        text-align: right;

        margin-bottom: 125px;
    }

    .blog-about .blog-intro {
        display: block;
        clear: both;
        float: none;
        max-width: 77%;
        margin-left: auto;
        margin-right: auto;

    }
    .blog-about .blog-intro .intro-pic {
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-pic img {
        width: 350px;
        margin-bottom: 45px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 350px;
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 20px;
        padding-bottom: 10px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 5px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 18px;
        line-height: 1.0;
        padding-bottom: 1px;
        display: inline-block;
        padding-right: 11px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 18px;
        padding-bottom: 1px;
    }
}


@media screen and (max-width: 612px) {
    img.img_label_left {
        float: left;
        width: 124px;
        margin-top: -10px;
    }


    .blog-about {
        margin-top: 115px;
        margin-left: 30px;
        margin-right: 30px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }


    .blog-about .blog-poetry {
        display: block;
        clear: both;
        float: none;
        font-size: 17px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        /*max-width: 456px;*/
        max-width: 77%;
        /*width:auto;*/
        margin-left: auto;
        margin-right: auto;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 18px;
        text-align: right;
        padding-top: 50px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 18px;
        text-align: right;

        margin-bottom: 120px;
    }

    .blog-about .blog-intro {
        display: block;
        clear: both;
        float: none;
        max-width: 77%;
        margin-left: auto;
        margin-right: auto;

    }
    .blog-about .blog-intro .intro-pic {
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-pic img {
        width: 300px;
        margin-bottom: 40px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 300px;
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 20px;
        padding-bottom: 5px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 17px;
        line-height: 1.0;
        padding-bottom: 1px;
        display: inline-block;
        padding-right: 11px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 17px;
        padding-bottom: 1px;
    }
}

/*手机屏幕显示*/
@media screen and (max-width: 512px) {
    img.img_label_left {
        float: left;
        width: 119px;
        margin-top: -10px;
    }


    .blog-about {
        margin-top: 115px;
        margin-left: 10px;
        margin-right: 10px;

        /*这里要将其置为0px才会生效，注释掉无效。*/
        padding-left: 0;
        padding-right: 0;

    }


    .blog-about .blog-poetry {
        display: block;
        clear: both;
        float: none;
        font-size: 15px;
        font-family: AVERIA_SERIF_LIBRE_BOLD, 宋体, Helvetica, sans-serif;
        font-weight: bold;
        /*max-width: 456px;*/
        max-width: 77%;
        /*width:auto;*/
        margin-left: auto;
        margin-right: auto;
    }


    .blog-about .blog-poetry .poetry-detailname {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;
        padding-top: 45px;
    }

    .blog-about .blog-poetry .poetry-detailauthor {
        font-style: italic;
        font-weight:bold;
        font-size: 16px;
        text-align: right;

        margin-bottom: 115px;
    }

    .blog-about .blog-intro {
        display: block;
        clear: both;
        float: none;
        max-width: 77%;
        margin-left: auto;
        margin-right: auto;

    }
    .blog-about .blog-intro .intro-pic {
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-pic img {
        width: 260px;
        margin-bottom: 35px;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    .blog-about .blog-intro .intro-detail {
        max-width: 260px;
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item {
        padding-top: 20px;
        padding-bottom: 0px;

    }

    .blog-about .blog-intro .intro-detail .intro-detail-item h4 {
        border-left: 4px solid #500095;
        padding-left: 7px;
        color: #500095;
        opacity: .9;
        font-size: 16px;
        line-height: 1.0;
        padding-bottom: 1px;
        display: inline-block;
        padding-right: 11px;
    }

    .blog-about .blog-intro .intro-detail .intro-detail-item span {
        font-size: 16px;
        padding-bottom: 1px;
    }

}


/* ---------------------------------------------------------------------------------------------------- */
/* footer style */
/* ---------------------------------------------------------------------------------------------------- */
.section-footer {
    text-align: center;
    /*padding-top: 250px+200px+10px;*/
    padding-top: 460px;
    padding-bottom: 40px;
    clear: both;

}

.section-footer a {
    text-decoration: none;
    color: #500095;
}
.section-footer a:hover {
    opacity: .7;
}

.section-footer .footer-copyright {
    color: #888;

}


.section-footer .footer-poweredby {
    color: #888;

}
































