<div class="blog-about">
  <div class="blog-poetry">

    <%
      var about_quotes = theme.about_quote.split('||');

      about_quotes.forEach(function(lines, i) {
        var quotes_lines = lines.split('|');
        quotes_lines.forEach(function(word) {
        %>
            <p><%= word %></p>
        <%
        });
        %>
        <% if (i != about_quotes.length-1) { %>
          <br/>
        <% } %>
    <%
    });
    %>

    <p class="poetry-detailname"><%= theme.about_quote_name %></p>
    <p class="poetry-detailauthor"><%= theme.about_quote_author %></p>

  </div>

</div>
