<!-- index/archive/about section profile left -->
<div class="col-md-3 section-profile">
    <div class="logo-image"><img src="<%- theme.index_user_avatar || theme.default_user_avatar %>" class="img-responsive img-thumbnail center-block" title="Snow"></div>
    <h4 class="profile-nickname"><%= theme.intros_nickname %></h4>


    <h3 class="center-block blockquote-font"><%= theme.index_quote%></h3>

</div>
